*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("/images/bgi.jpg");
    background-size: cover;
    background-position: fixed;
}
header{
    background-color: black;
    height: 80px;
}

#logo{
    margin-top: 12px;
    margin-bottom: 25px;
    margin-left: 100px;
    border-radius: 50px;
}

nav{
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

nav a{
    border: 1px solid white;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    
}

nav a:hover{
    background-color: teal;
    color:black;
}
aside{
    /* border: 2px solid red; */
    margin-top: 100px;
    margin-left: 120px;
    color: white;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside li{
    line-height: 30px;
    list-style-type: square;
}

form{
    border: 1px solid red;
    float:right;
    background-color: beige;
    margin-top: 50px;
    margin-right: 30px;
    height: 280px;
    width: 180px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
form h2{
    text-align: center;
}

#log{
   width: 165px;
   border:none;
   background-color: dodgerblue;
   color: white;
   height: 20px;
}

.courses{
    margin-top: 30%;
    margin-bottom: 10%;
}
.p-courses{
    border: 3px solid white;
    float: left;
    width: 22%;
    margin-left: 5px;
    padding: 5px;
    background-color: gainsboro;
    height: 13em;
    
}

.p-courses h4{

    text-align: center;
    margin-bottom: 15px;

}

.p-courses p{
    text-align: justify;
}

#link-p{
    color: red;
}
footer{
    border:1px solid black;
    text-align: center;
    color: white;
    margin-top:50%;
    background-color: black;

}
